<div class="relative mt-0 header-bg flex items-center justify-center">
    <h1 class="text-7xl font-bold text-center text-white">Home</h1>
</div>

<main class="my-16 md:my-32">

    <section class="relative flex flex-col space-y-8 md:space-y-12">
        <div class="flex justify-center px-16 md:px-80">
            <h2 class="text-center font-bold text-1xl md:text-4xl">
                Explore the natural beauty and rich cultural heritage of Vietnam
            </h2>
        </div>
        <div id="tours-container" class="flex flex-col md:flex-row space-x-8 justify-between max-w-screen-lg mx-auto">
        </div>
    </section>

    <section class="relative py-8 mb-8">
        <div class="why_choose relative flex flex-col text-center text-white">
            <h2 class="text-4xl font-bold mt-16">Why Choose Us?</h2>
            <p class="mt-4 text-lg">Our tour rental services at TADTravels are trusted by travelers worldwide.</p>
        </div>
        <div class="absolute inset-0 flex justify-center items-center top-3/4">
            <div id="services-container"
                class="flex flex-row overflow-x-auto no-scrollbar space-x-12 justify-between max-w-screen-lg mx-auto p-4">
            </div>
        </div>
    </section>

    <section class="relative py-20 px-8 homePage">
        <p class="text-3xl mb-3 font-bold ">Best deal tours</p>
        <div id="bestdeal-container" class="flex overflow-x-auto flex-nowrap bg-slate-50 space-x-8 mt-16 p-4  ">
            {{#each bestdealTours}}
            <div class="px-2 py-2 flex flex-col justify-between bg-white rounded-lg items-center min-w-64 w-64 h-80 shadow-lg">
                <img src="{{this.img_url}}" alt="" class="rounded-lg h-32 object-cover w-full">
                <h4 class="font-semibold text-2xl text-center title">{{this.title}}</h4>
                <p class="text-lg text-gray-500 text-center">Price: ${{this.prices}}</p>
                <p class="text-lg text-gray-500 text-center">Voucher: {{this.voucher}}%</p>
                <p class="text-gray-600 text-center overflow-hidden text-ellipsis whitespace-normal desc">{{this.brief}}</p>
            </div>
            {{/each}}
        </div>
    </section>

    <section class="relative py-20 px-8 homePage">
        <p class="text-3xl mb-3 font-bold ">Best rate tours</p>
        <div id="bestdeal-container" class="flex overflow-x-auto flex-nowrap bg-slate-50 space-x-8 mt-16 p-4  ">
            {{#each bestrateTours}}
            <div class="px-2 py-2 flex flex-col justify-between bg-white rounded-lg items-center min-w-64 w-64 h-80 shadow-lg">
                <img src="{{this.img_url}}" alt="" class="rounded-lg h-32 object-cover w-full">
                <h4 class="font-semibold text-2xl text-center title">{{this.title}}</h4>
                <p class="text-lg text-gray-500 text-center">Price: ${{this.prices}}</p>
                <p class="text-lg text-gray-500 text-center">Rate: {{this.rate}} Star</p>
                <p class="text-gray-600 text-center overflow-hidden text-ellipsis whitespace-normal desc">{{this.brief}}</p>
            </div>
            {{/each}}
        </div>
    </section>

    <section class="relative py-20 px-8">
        <p class="text-3xl mb-3 text-gray-500">TESTIMONIAL</p>
        <h3 class="font-bold text-3xl">What our clients say</h3>
        <div id="feedback-container" class="flex overflow-x-auto flex-nowrap bg-slate-50 space-x-8 mt-16 p-4  ">
        </div>
    </section>

</main>