<section class="my-16" id="listTour">
    <div class="mb-8 mx-16">
        <div class="w-2/3">
            <h2 class="text-6xl font-semibold mb-4">{{location_name}}</h2>
            <p class="text-lg font-medium text-gray-600 mb-8">{{loc_detail}}</p>
        </div>
    </div>
    <hr class="w-screen	border-gray-200 my-8 mx-auto">

    <form id="searchService" action="\tours" method="GET" class="mx-16">

        <div id="filter" class="flex gap-8 border-r-2 border-black border-dashed">
            <!-- Lọc theo location -->
            <div class="guests opt relative">
                <select id="location" name="location"
                    class="block w-72 bg-white border border-gray-300 py-2 px-4 text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="" selected disabled>Choose a location</option>
                    <option value="Ha Long Bay">Ha Long Bay</option>
                    <option value="Hue">Hue</option>
                    <option value="Ho Chi Minh City">Ho Chi Minh City</option>
                    <option value="Ha Noi">Ha Noi</option>
                    <option value="Da Nang">Da Nang</option>
                    <option value="Da Lat">Da Lat</option>
                    <option value="Vung Tau">Vung Tau</option>
                    <option value="Ninh Binh">Ninh Binh</option>
                </select>
            </div>

            <!-- Lọc theo price -->
            <div class="price opt relative">
                <select id="price" name="price"
                    class="block w-72 bg-white border border-gray-300 py-2 px-4 text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="" selected disabled>Choose a price range</option>
                    <option value="1">$001 - $100</option>
                    <option value="101">$101 - $200</option>
                    <option value="201">$201 - $300</option>
                    <option value="301">$301 - $400</option>
                    <option value="401">$401 - $500</option>
                    <option value="501">$501 - $600</option>
                </select>
            </div>

            <!-- Lọc theo rate -->
            <div class="rate opt relative">
                <select id="rate" name="rate"
                    class="block w-72 bg-white border border-gray-300 py-2 px-4 text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="" selected disabled>Choose a rate</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Star</option>
                    <option value="3">3 Star</option>
                    <option value="4">4 Star</option>
                    <option value="5">5 Star</option>
                </select>
            </div>

            <!-- Lọc theo voucher -->
            <div class="voucher opt relative">
                <select id="voucher" name="voucher"
                    class="block w-72 bg-white border border-gray-300 py-2 px-4 text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="" selected disabled>Choose a voucher range</option>
                    <option value="1">1% - 5%</option>
                    <option value="6">6% - 10%</option>
                    <option value="11">11% - 15%</option>
                    <option value="16">16% - 20%</option>
                </select>
            </div>
        </div>
        <div id="selected-filters" class="flex flex-wrap gap-4 mt-4 mb-4">
            <!-- Các lựa chọn sẽ được thêm vào đây -->
        </div>
    </form>

    <hr class="w-screen	border-gray-200 my-8 mx-auto">

    <div id="showTours" class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-0 md:mx-8">
        {{#each allTours}}
        <a href="/tours/tour_detail/{{this.tour_id}}/{{this.location_id}}">
            <div
                class="flex flex-col justify-between bg-white rounded-lg shadow-lg overflow-hidden w-80 h-96 tour transition-transform duration-300 ease-in-out hover:scale-105">
                <div>
                    <!-- Giảm kích thước hình ảnh -->
                    <img src="{{this.img_url}}" alt="" class="img w-full h-36 object-cover">
                    <div class="p-4">
                        <div class="flex justify-between mt-4 h-16">
                            <h3 class="name text-lg font-semibold">{{this.title}}</h3>
                            <p class="price text-gray-600">${{this.prices}}</p>
                        </div>
                        <p class="text-gray-600 w-full overflow-hidden text-ellipsis line-clamp-2">
                            {{this.brief}}
                        </p>
                    </div>
                </div>
                <div class="flex justify-between px-4">
                    <div class="flex">
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                    </div>
                    <button type="button"
                        class="self-end mb-4 px-4 py-2 bg-green-900 text-white rounded-full hover:bg-green-950 btn"
                        value="{{this.tour_id}}" data-name="{{this.location_id}}" onclick="StoreId(this)">View
                        Detail</button>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    <div class="pagination flex col-start-1 max-h-10 ">
        <button onclick="prevPage()">Previous</button>
        <div id="pageNumbers"></div> <!-- Container for page number buttons -->
        <button onclick="nextPage()">Next</button>
    </div>


    {{!-- <form id="searchService" action="/tours" method="GET">
        <div id="search-zone" class="flex justify-around mx-auto my-10 w-4/5">
            <div class="search1 w-2/3">
                <label for="searchInf" class="">
                    Tìm kiếm:
                </label>
                <div class="searchContainer relative flex items-center border-2 border-black rounded-md w-2/3">
                    <i class="fa-solid fa-taxi absolute text-gray-700 text-lg left-2"></i>
                    <input id="searchInf" name="query" type="text"
                        class="border-none outline-none text-base w-full py-4 pl-8" placeholder="Search...">
                </div>
            </div>
            <button type="submit" id="btnSearch"
                class="px-4 py-2 border-2 border-black rounded-md bg-[#011f4b] text-white flex items-center justify-center">
                Search
            </button>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div id="filter" class="flex flex-col gap-8 border-r-2 border-black border-dashed">
                <div class="guests opt leading-7">
                    <h3 class="text-2xl">Location of tour</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <label>
                            <input type="checkbox" name="location" value="Ha Long Bay">
                            Ha Long Bay
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Hue">
                            Hue
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Ho Chi Minh City">
                            Ho Chi Minh
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Ha Noi">
                            Ha Noi
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Da Nang">
                            Da Nang
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Da Lat">
                            Da Lat
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Vung Tau">
                            Vung Tau
                        </label>
                        <label>
                            <input type="checkbox" name="location" value="Ninh Binh">
                            Ninh Binh
                        </label>
                    </div>
                </div>
                <div class="price opt">
                    <h3 class="text-2xl">Price of tour</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <label>
                            <input type="checkbox" name="price" value="1">
                            $001 - $100
                        </label>
                        <label>
                            <input type="checkbox" name="price" value="101">
                            $101 - $200
                        </label>
                        <label>
                            <input type="checkbox" name="price" value="201">
                            $201 - $300
                        </label>
                        <label>
                            <input type="checkbox" name="price" value="301">
                            $301 - $400
                        </label>
                        <label>
                            <input type="checkbox" name="price" value="401">
                            $401 - $500
                        </label>
                        <label>
                            <input type="checkbox" name="price" value="501">
                            $501 - $600
                        </label>
                    </div>
                </div>
                <div class="rate opt">
                    <h3 class="text-2xl">Rate of tour</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <label>
                            <input type="checkbox" name="rate" value="1">
                            1 Star
                        </label>
                        <label>
                            <input type="checkbox" name="rate" value="2">
                            2 Star
                        </label>
                        <label>
                            <input type="checkbox" name="rate" value="3">
                            3 Star
                        </label>
                        <label>
                            <input type="checkbox" name="rate" value="4">
                            4 Star
                        </label>
                        <label>
                            <input type="checkbox" name="rate" value="5">
                            5 Star
                        </label>
                    </div>
                </div>
                <div class="voucher opt">
                    <h3 class="text-2xl">Voucher of tour</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <label>
                            <input type="checkbox" name="voucher" value="1">
                            1% - 5%
                        </label>
                        <label>
                            <input type="checkbox" name="voucher" value="6">
                            6% - 10%
                        </label>
                        <label>
                            <input type="checkbox" name="voucher" value="11">
                            11% - 15%
                        </label>
                        <label>
                            <input type="checkbox" name="voucher" value="16">
                            16% -20%
                        </label>
                    </div>
                </div>
            </div>
    </form>
    <div class="md:col-span-2 grid grid-cols-1 mt-8 md:grid-cols-2 gap-8 mb-32">
        {{#each allTours}}

        <div class="flex flex-col justify-between bg-white rounded-lg shadow-lg overflow-hidden h-auto tour">
            <div>
                <img src="{{this.img_url}}" alt="" class="img w-full h-48 object-cover">
                <div class="p-6">
                    <div class="flex justify-between">
                        <h3 class="name text-xl font-semibold">{{this.title}}</h3>
                        <p class="price text-gray-600">${{this.prices}}</p>
                    </div>
                    <p class="desc mt-4 text-gray-500">{{this.brief}}</p>
                </div>
            </div>
            <div class="flex justify-between px-6">
                <div class="flex">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <button type="button"
                    class="self-end mb-8 px-4 py-2 bg-green-900 text-white rounded-full hover:bg-green-950 btn"
                    value="{{this.tour_id}}" data-name="{{this.location_id}}" onclick="StoreId(this)">View
                    Detail</button>
            </div>
        </div>
        {{/each}}
        <div class="pagination flex col-start-1 max-h-10">
            <button onclick="prevPage()">Previous</button>
            <div id="pageNumbers"></div> <!-- Container for page number buttons -->
            <button onclick="nextPage()">Next</button>
        </div>
    </div>
    </div> --}}
</section>